@import url('./variables.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-button {
  background-color: var(--yellow);
  border-style: none;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.secondary-button {
  background-color: var(--white);
  border: 2px solid var(--yellow);
  border-radius: 4px;
  color: var(--yellow);
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
